#小结
#初始化Git仓库的命令 git init
#查看文件状态的命令 git status 或 git status-s
#一次性将所有文件加入暂存区的命令 git add.
# 将暂存区的文件提交到Git仓库的命令 git commit -m "提交消息"

#   以#开头的是注释
# 以/结尾的是目录
# 以/开头的是防止递归
# 以！开头表示取反
# 可以使用glob模式进行文件夹的匹配（glob指简化了的正则表达式）
# 星号*匹配0个或多个任意字符  [abc]匹配任何一个列在方括号中的字符  ? 只匹配一个任意字符  在方括号中使用短划线分隔两个字符表示所有在这两个字符范围内的都可以匹配（[0-9]匹配0到9的所有数字）
# 两个星号**表示匹配任意中间目录



# 忽略所有的.a结尾的文件  *.a
#但跟踪所有的lib.a 即使前面忽略了.a     !lib.a
#只忽略当前目录下的todo文件，而不忽略subdir/todo    /todo
#忽略任何目录下的test文件夹  
test/
# 忽略 doc/notes.txt,但不忽略 doc/server/arch.txt   doc/*.txt
# 忽略 doc/及其子目录下的.txt   doc/**/*.txt





#忽略index.css这个文件
index.css

